.main-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.colors {
  background-color: lightgray;
  padding: 2%;
}

.task-list{
  display: flex;
  border: solid 1px red;
}
.task-list div{
  margin-right: 2em;

}
.taskList{
  display: flex;
}